@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We may have said "Hasta la vista, baby" to the late fees, overpriced rentals, and the inconvenience of video stores, but most of us are still learning how to find our way through the ever-evolving world of online video streaming.

With the launch of HBO Now, and the success of streaming series like Making a Murderer, Orange is the New Black, Transparent and Stranger Things, the video-streaming market is suddenly flooded with options for movie and TV lovers alike. You might be wondering, "Which service is right for me?" Or more importantly, "Which service keeps the most cash in my pocket?"

At Brad's Deals, we're all about saving you money, so we compiled a guide of the top nine movie streaming and rental services to help make this decision a little easier for you and your wallet. We've broken it down into three sections: apps (Like Netflix, Hulu etc), devices (like the Roku, Apple TV etc), and others.</p>
