@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    12369 Jack Pine Trl<br />
    Eden Prairie, MN 55437<br />
    <abbr title="Phone">P:</abbr>
    612.414.1510
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Hahn@rentals.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Hawkins@rentals.com</a>
</address>